<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mes Membres</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNewMember()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="Rechercher un membre..." (ionInput)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let member of filteredMembers">
      <!-- Changement de la route pour pointer vers la page corrigée -->
      <ion-item button [routerLink]="['/detail-members', member.id]">
        <ion-avatar slot="start">
          <img [src]="member.avatar" alt="Avatar de {{ member.name }}" />
        </ion-avatar>
        <ion-label>
          <h2>{{ member.name }}</h2>
          <p>{{ member.countryCode }} {{ member.phone }}</p>
          <!-- Nombre de tontines déplacé ici -->
          <p class="tontine-count">
            <ion-icon name="people-circle-outline" class="tontine-icon"></ion-icon>
            {{ member.tontineCount }} tontine(s)
          </p>
        </ion-label>

        <!-- Remplacement de l'icône -->
        <div class="end-slot-container" slot="end">
          <ion-icon name="eye-outline" class="view-indicator"></ion-icon>
        </div>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="callMember(member)">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-item-option>
        <ion-item-option class="whatsapp" (click)="sendWhatsApp(member)">
          <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewMember()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>