ion-searchbar {
  padding-bottom: 8px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 16px;
  --border-radius: 12px;
  margin: 0 16px 12px 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

ion-avatar {
  width: 48px;
  height: 48px;
}

ion-label {
  h2 {
    font-weight: 600;
  }
  p {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }

  .tontine-count {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--ion-color-secondary);
    margin-top: 4px;

    .tontine-icon {
      margin-right: 4px;
      font-size: 1rem;
    }
  }
}

.end-slot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.view-indicator {
  font-size: 1.4rem;
  color: var(--ion-color-medium-tint);
}

.whatsapp {
  // Couleur verte de WhatsApp
  --background: #25D366;
  --color: #ffffff;
}
